.filterWrapper {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 1rem;
  align-items: center;
}

.group {
  width: 100%;
  max-width: 900px;
  text-align: center;
}

.group h4 {
  margin-bottom: 0.5rem;
  font-size: 1rem;
  color: #333;
}

.filterGroup {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: center; */
  gap: 5px;
}

.filterBtn {
  display: block;
  width: 100%;
  font-size: 14px;
  cursor: pointer;
  padding: 6px 12px;
  border-radius: 4px;
  text-align: left;
  background: #999898;
  transition: background 0.3s ease;
}

.filterBtn:hover {
  background: #ccc;
}

.active {
  background-color: #0e4783;
  color: white;
}