.rippleWrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
  cursor: pointer;
}

.ripple {
  position: absolute;
  border-radius: 50%;
  transform: scale(0);
  animation: rippleAnimation 600ms linear;
  pointer-events: none;
  z-index: 1;
}

@keyframes rippleAnimation {
  to {
    transform: scale(4);
    opacity: 0;
  }
}