@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  background-color: #cfcfcf;
}

.app {
  text-align: center;
  max-width: 100%;
  margin: 0 auto;
  background-color: #cfcfcf;
}

/* Button Filters */
.button-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  width: 100%;
}

.button-wrapper>button {
  width: 100%;
  height: 2.5rem;
  padding: 0 1rem;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background: #e0e0e0;
  text-align: left;
  transition: background 0.3s ease;
}

.button-wrapper>button:hover {
  background: #ccc;
}

.button-wrapper>button.active {
  background: black;
  color: white;
}

/* Grid Container */
.movie-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: 20px;
  /* padding: 2rem; */
  justify-items: center;
}

.image-container {
  width: 1600px;
  max-width: 96%;
  margin: 0 auto;
}


/* Movie Card */
.image-card {
  position: relative;
  width: 100%;
  background: white;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.image-card:hover {
  transform: translateY(-4px);
}

/* Image Container */
.image-wrapper {
  position: relative;
  aspect-ratio: 2 / 3;
  overflow: hidden;
}

/* Low-res blurred placeholder */
.low-res {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

/* High-res real image */
.high-res {
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  transition: opacity 0.4s ease;
  z-index: 1;
}

.visible {
  opacity: 1;
}

/* Movie title */
.image-card .title {
  padding: 6px;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  color: #b7b2b2;
  background: #000921;
  text-align: left;
}

.layout {
  display: flex;
  align-items: flex-start;
}

.sidebar {
  width: 220px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  padding: 60px 0 0 0;
  flex-shrink: 0;
  background-color: #ddd;
}

.main-content {
  margin-left: 220px;
  /* same as .sidebar width */
  padding: 2rem;
  flex: 1;
}

@media (max-width: 768px) {
  .layout {
    flex-direction: column;
  }

  .sidebar {
    position: relative;
    width: 100%;
    order: 1;
  }

  .main-content {
    order: 2;
    margin-left: 0;
  }
}